<aside class="panel" aria-labelledby="me">
    <h2 id="me">about</h2>
    <div class="panel profile">
        <img src="/profile.jpg" alt="profile picture" class="profile-pic">
        <div>
            <div class="profile-name">uncognic</div>
        </div>
    </div>
    <p style="font-size:13px">i'm uncognic, a student and developer. i also <a href="/selfhosted/">selfhost</a> stuff.
    </p>
    <h2>contact</h2>
    <p style="font-size:13px">signal:
        <a href="https://signal.me/#eu/buU3AwSmbqqBUnPkFqpanrYb00CnccFOPzlmHGNrfiKzT3kIUxtBbLM4P0MfURaM" target="_blank"
            rel="noopener noreferrer">@ucc.90</a>
        <br>
        <br>email:
        <a href="mailto:uncognic@1707070.xyz">uncognic@1707070.xyz</a>
        <br><br>discord: uncognic
        <br><br>
        xmr: <span
            class="addr">444bjVfxvPdWMNm7GTwZnb9ACPDbgxCEeHQneggdV7oPd2zzpoU967TZbxvwvXgAZGZnaMwbbmNTFik8aexkCNGhUwBRHmA</span>
        btc: <span class="addr">bc1qmrazcmg5wa28s93kq9c9pm8zs8ae6l8nxxc9am</span>
        eth: <span class="addr">0xCEAF4da1787D54dD349695361D88E4349A4D92D6</span>
    </p>
</aside>