<header class="sitebar" role="banner">
    <div class="logo" aria-hidden="true">uncognic</div>
    <nav class="items" role="navigation" aria-label="Main">
        <a class="item" href="/home">home</a>
        <a class="item" href="/blog">blog</a>
        <a class="item" href="/contact/">contact</a>
        <a class="item" href="/openpgp/openpgp.txt">openpgp</a>
        <a class="item" href="/selfhosted/">selfhosted</a>
        <a class="item" href="/nettools/">nettools</a>
        <a class="item" href="/guestbook/">guestbook</a>
    </nav>
</header>
