<header>
    <nav>
        <div class="left">
            <a href="https://github.com/uncognic">github</a> -
            <a href="https://codeberg.org/uncognic">codeberg</a> -
            <a href="/contact/">contact</a>
        </div>
        <div class="right">
            <a href="/openpgp/openpgp.txt">pgp</a>
            <a href="rv7hdc4motucr7rtnpqbh7d53yw6z3emekczmgan4hwux63w57vcduyd.onion">onion</a>
        </div>
    </nav>
    <h1><a href="/home/">uncognic <span id="headerSubTitle">the web situation</span></a></h1>
</header>