<p class="proj"><a href="https://github.com/uncognic/steppewm">steppewm</a> <span class="desc">&dash; stacking wayland
        window manager, C</span></p>
<p class="proj"><a href="https://circuitchat.1707070.xyz/">circuitchat</a> <a
        href="http://si52lslgxgqnzom5bsbyr7axyj6r3ykelskahuuf36dxrzrbsppio5qd.onion/"
        title="circuitchat .onion">(.onion)</a> <span class="desc">&dash; tor-based encrypted messaging, rust</span></p>
<p class="proj"><a href="https://github.com/uncognic/ferrite">ferrite</a> <span class="desc">&dash; system emulator with
        custom risc isa, C</span></p>
<p class="proj"><a href="https://github.com/uncognic/cast">cast</a> <span class="desc">&dash; easy to use build tool
        like cargo for C/C++, C</span></p>
<p class="proj"><a href="https://github.com/uncognic/shared">shared</a> <span class="desc">&dash; simple, 0x0.st-like
        file sharing server, java</span></p>
<p class="proj"><a href="https://github.com/uncognic/asus">asus</a> <span class="desc">&dash; asus laptop command line
        utility, C</span></p>
<p class="proj"><a href="https://github.com/uncognic/blackbox">blackbox</a> <span class="desc">&dash; minimal
        turing-complete bytecode VM, C++</span></p>
<p class="proj"><a href="https://github.com/runwayproject">runway</a> <span class="desc">&dash; end to end encrypted
        messaging using mls, rust</span></p>
<p class="proj"><a href="https://github.com/uncognic/irccord">irccord</a> <span class="desc">&dash; irc-discord bridge
        server/bot, rust</span></p>
<p class="proj"><a href="https://github.com/uncognic/cafe">cafe</a> <span class="desc">&dash; keep windows awake, C,
        win32</span></p>