<a class="proj" href="https://github.com/uncognic/blackbox" target="_blank" rel="noopener noreferrer">
    <strong>blackbox</strong>
    <div class="proj-desc">minimal turing-complete bytecode VM - c++</div>
</a>

<div class="proj">
    <a class="proj-main" href="https://circuitchat.1707070.xyz/" target="_blank" rel="noopener noreferrer">
        <strong>circuitchat</strong>
    </a>
    <a href="http://si52lslgxgqnzom5bsbyr7axyj6r3ykelskahuuf36dxrzrbsppio5qd.onion/" target="_blank"
        rel="noopener noreferrer" title="circuitchat .onion">(.onion)</a>
    <div class="proj-desc">tor-based encrypted messaging - rust</div>
</div>

<a class="proj" href="https://github.com/runwayproject" target="_blank" rel="noopener noreferrer">
    <strong>runway</strong>
    <div class="proj-desc">end to end encrypted messaging using mls - rust</div>
</a>

<a class="proj" href="https://github.com/uncognic/shared" target="_blank" rel="noopener noreferrer">
    <strong>shared</strong>
    <div class="proj-desc">simple, 0x0.st-like file sharing server - c#</div>
</a>

<a class="proj" href="https://github.com/uncognic/cast" target="_blank" rel="noopener noreferrer">
    <strong>cast</strong>
    <div class="proj-desc">easy to use build tool like cargo for C/C++ - C</div>
</a>

<a class="proj" href="https://github.com/uncognic/asus" target="_blank" rel="noopener noreferrer">
    <strong>asus</strong>
    <div class="proj-desc">asus laptop command line utility - C</div>
</a>

<a class="proj" href="https://github.com/uncognic/irccord" target="_blank" rel="noopener noreferrer">
    <strong>irccord</strong>
    <div class="proj-desc">irc-discord bridge server/bot - rust</div>
</a>

<a class="proj" href="https://github.com/uncognic/cafe" target="_blank" rel="noopener noreferrer">
    <strong>cafe</strong>
    <div class="proj-desc">keep windows awake - c - win32</div>
</a>