<nav id="side-bar">
    <div>
        <ul>
            <li><a href="/">&rsaquo; /</a></li>
            <li><a href="/blog/">&rsaquo; blog/</a></li>
            <li><a href="/selfhosted/">&rsaquo; selfhosted/</a></li>
            <li><a href="/elsewhere/">&rsaquo; elsewhere/</a></li>
            <li><a href="/openpgp/openpgp.txt">&rsaquo; openpgp.txt</a></li>
            <li><a href="http://rv7hdc4motucr7rtnpqbh7d53yw6z3emekczmgan4hwux63w57vcduyd.onion">&rsaquo; onion</a></li>
            <li><a href="https://uncognic.atabook.org/">&rsaquo; (extern) guestbook</a></li>
        </ul>
    </div>
</nav>